<!-- definition  -->
<script type="text/javascript">
      RED.nodes.registerType("read-task", {
    category: "ActiveControl",
    color: "#a6bbcf",
    defaults: {
      name: { value: "" },
      activecontrol: { type: "ac_config", required: true }
    },
    icon: "font-awesome/fa-file-text",
    inputs: 1,
    outputs: 1,
    label: function () {
      return this.name || "AC: Read Task";
    }
  });
</script>

<!-- edit dialog -->
<script type="text/html" data-template-name="read-task">
    <div class="form-row">
      <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
      <input type="text" id="node-input-name" placeholder="Name" />
    </div>
    <div class="form-row">
      <label for="node-input-activecontrol"><i class="fa fa-tag"></i> ActiveControl Config</label>
      <input type="text" id="node-input-activecontrol">
    </div>
  </script>
<!-- help text -->
<script type="text/html" data-help-name="read-task">
  <p>Node to read a single Business Task using the ActiveControl SOAP interface.</p>
  <p>Configuration must be stored in a separate node.</p>
 <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>payload<span class="property-type">object</span></dt>
    <dt>url<span class="property-type">string</span></dt>
    <dt>systemnumber<span class="property-type">string</span></dt>
    <dt>username<span class="property-type">string</span></dt>
    <dt>password<span class="property-type">string</span></dt>
    <dt>authorization<span class="property-type">string</span></dt>
    <dd>will override the default basic authentication</dd>
  </dl>
  <h3>Outputs</h3>
  <dl class="message-properties">
    <dt>payload
        <span class="property-type">string | buffer</span>
    </dt>
  </dl>
  <h3>Description</h3>
  <p>Takes an input payload like:</p>
  <pre><code class="lang-json">{
  "XTaskid": "10017001000000001942"
}
  </code></pre>
  <h2 id="return-values">Return values</h2>
  <p>On failure throws an exception, on success returns a message payload like this:</p>
  <pre style=""><code class="lang-json">{
  "ID": 10017102000000002000,
  "CAPTION": "Business Task",
  "REFERENCE": "REF-234",
  "GROUPID": 10017100600000000000,
  "TYPEID": 10017100600000000000,
  "TESTERID": "ATH",
  "PRIORITY": 2,
  "PROJECTID": 10017102000000002000,
  "LOCKED": "",
  "PATH": 0,
  "STAT_DEPL": 10017100600000000000,
  "STAT_PLAN": "",
  "STAT_DEPL_MAN": "",
  "STAT_PLAN_MAN": "",
  "OWNER": "",
  "TEXT": "",
  "CF_500": "",
  "CF_550": "",
  "description": "Description",
  "customFields": [
    {
      "Id": 513,
      "Value": "Demo"
    },
    {
      "Id": 517,
      "Value": 1
    },
    {
      "Id": 518,
      "Value": 1
    }
  ],
  "testers": [
    {
      "Testerid": "ATH",
      "Targetroleid": "",
      "Targetid": 0,
      "Systemid": "",
      "Mandt": "",
      "SmtpAddr": "",
      "Testername": "ATH"
    },
    {
      "Testerid": "KSOLA",
      "Targetroleid": 10017100600000000000,
      "Targetid": 0,
      "Systemid": "",
      "Mandt": "",
      "SmtpAddr": "",
      "Testername": "KSOLA"
    }
  ]
}
  </code></pre>   
</script>